<form onsubmit="submitForm(); return false;">
    <table>
        <tr>
            <td>Groups:</td>
            <td>
                <select class="form-control" id="groups" onchange="selectGroupMembers(this);">
                    <option value="0">None</option>
                    {{#each groups}}
                    <option value="{{@key}}">{{@key}} ({{this.length}})</option>
                    {{/each}}
                </select>
            </td>
        </tr>
        <tr><td>Servers:</td><td><select class="form-control" id="servers" onchange="clearGroupDropdown();" multiple>
        {{#each inventory}}
            <option value="{{this}}">{{this}}</option>
        {{/each}}
        </select></td></tr>
        <tr><td>Force Cache Update <input type="checkbox" id="updatecache" /></td></tr>
        <tr><td>Combine Duplicate Queues <input type="checkbox" checked id="dedupequeues" /></td></tr>
        {{#if config.dhcpenabled}}<tr><td>Enable DHCP <input type="checkbox" checked id="dhcpintegration" /></td></tr>{{/if}}
        {{#if config.dhcpenabled}}<tr><td>Show Leases <input type="checkbox" id="showleases" /></td></tr>{{/if}}
    </table>
    <select id="searchprop">
        <option value="Name">Queue Name</option>
        <option value="PortName">Port Name</option>
        <option value="DriverName">Driver Name</option>
    </select>
    <input type="text" id="searchvalue" />
    <input type="submit" class="btn btn-primary" value="Submit" />
</form>
<!--<form onsubmit="getChecked(); return false;">-->
    <!--<input type="button" onclick="deleteQueues();" value="Delete" />
    <input type="button" onclick="getPrintSettings();" value="Get Print Settings" />
    <input type="button" onclick="setPrintSettings();" value="Set Print Settings" />
    <input type="button" onclick="setQueueOptions();" value="Set Queue Options" />-->
    <hr>
    <table id="example" class="display" style="width: 100%"></table>
<!--</form>-->
<div class="modal fade" id="configModal" tabindex="-1" aria-labelledby="configModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content {{theme.class.bodyClass}}">
      <div class="modal-header">
        <h5 class="modal-title" id="configModalLabel">Queue Config</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div  class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="settingsModal" tabindex="-1" aria-labelledby="settingsModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content {{theme.class.bodyClass}}">
      <div class="modal-header">
        <h5 class="modal-title" id="settingsModalLabel">Queue Config</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div  class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="updateSettings()" >Submit</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="singleServerModal" tabindex="-1" aria-labelledby="singleServerModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content {{theme.class.bodyClass}}">
      <div class="modal-header">
        <h5 class="modal-title" id="singleServerModalLabel">Select a Server</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div  class="modal-body"></div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" onclick="exportPrinterSettings(false, true)" >Export</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="activityModal" aria-labelledby="activityModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content {{theme.class.bodyClass}}">
        <div class="modal-header">
            <h5 class="modal-title" id="activityModalLabel">Activity Log</h5>
            <!--<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>-->
        </div>
        <div  class="modal-body"></div>
        <div class="modal-footer">
            <span id="current">0</span> / <span id="total"></span>
            <button id="closeprogress" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div>
<div id="overlay" style="display:none;">
    <div class="spinner"></div>
    <br/>
    Processing...
</div>
<script>
    var printerarr;
    var table;
    var settingstype;
    var dedupe;
    var dhcpenabled = {{#if config.dhcpenabled}}true{{else}}false{{/if}}
    var deletelimit = {{config.deletelimit}}
    var modifylimit = {{config.modifylimit}}
    var groups = {{{JSONstringify groups}}}
    var exportedsettings = { exported: false };

    function clearGroupDropdown() {
        let groups = document.getElementById("groups");
        groups.selectedIndex = 0;
    }

    function selectGroupMembers(elem) {
        let group = elem.options[elem.selectedIndex].value;
        let members = document.getElementById("servers");
        if(group != "0") {
            //console.log(groups[group]);
            members.selectedIndex = -1;
            for(let i = 0; i < groups[group].length; i++) {
                for(let j = 0; j < members.options.length; j++) {
                    if(groups[group][i].toUpperCase() == members.options[j].value.toUpperCase()) {
                        members.options[j].selected = true;
                        break;
                    } else {
                        //members.options[j].selected = false;
                    }
                }
            }
        } else {
            members.selectedIndex = -1;
        }
    }

    function DHCPIntegration() {
        if(dhcpenabled) {
            let dhcpintegration = document.getElementById('dhcpintegration');
            if(dhcpintegration.checked) {
                return true;
            } else {
                return false;
            }
        } else {
            return false;
        }
    }

    function showLeases() {
        if(dhcpenabled) {
            let showleases = document.getElementById('showleases');
            if(showleases.checked) {
                return true;
            } else {
                return false;
            }
        } else {
            return false;
        }
    }

    var createOptionsTable = function(options) {
        let table = document.createElement('table');
        table.id = 'optionstable';
        let row = table.insertRow(0);
        let cell1 = row.insertCell(0);
        let link = document.createElement('a');
        //console.log("['" + options.join("', '") + "']");
        let keys = Object.keys(options);
        //link.href = "javascript:addOptionsRow(['" + keys.join("', '") + "'])";
        link.href = "javascript:true";
        link.addEventListener('click', function() {
            addOptionsRow(options);
        });
        link.text = "Add Row"
        cell1.appendChild(link);
        return table;
    }

    var createMissingPorts = function(params, callback) {
        if(params.requests.length >= 1) {
            processMultipleRequests({requests: params.requests, apipath: '/api/printer/port/create'}, function(e) {
                appendActivityLog(e);
                updateProgress();
            }, function(err, resp) {
                callback(false, resp);
            });
        } else {
            callback(false, false);
        }
    }

    var getQueueData = function(params, callback) {
        if(!params['index']) {
            params['index'] = 0;
        }
        //console.log(params.request.objects);
        //console.log(params.index);
        if(params.index <= params.request.objects.length - 1) {
            let options = {
                path: '/api/printer/queue/getconfigs',
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            }

            let body = {
                servers: [params.request.objects[params.index].source],
                name: params.request.objects[params.index].name
            }

            httpRequest({options: options, body: body}, function(err, resp) {
                if(err) {
                    if(err=='401') {
                        alert('You are no longer logged in!');
                    } else {
                        console.log(err);
                    }
                    callback(err, resp);
                    params.index = params.index + 1;
                    updateProgress();
                    getQueueData(params, callback);
                    return;
                } else {
                    //console.log(resp.body.data[0].response);
                    let options = {
                        path: '/api/printer/queue/dump',
                        method: 'POST',
                        headers: {
                            'Content-Type': 'application/json'
                        }
                    }
                    //console.log(resp.body.data[0].response);

                    let body = {
                        server: params.request.objects[params.index].source,
                        name: params.request.objects[params.index].name
                    }

                    httpRequest({options: options, body: body}, function(err, dump) {
                        // console.log(err);
                        // console.log(dump);
                        if(err) {
                            if(err=='401') {
                                alert('You are no longer logged in!');
                            } else {
                                console.log(err);
                            }
                            callback(err, resp);
                            return;
                        } else {
                             params.request.objects[params.index]['config'] = [
                                {
                                    type: 8,
                                    options: {
                                        dmDefaultSource: resp.body.data[0].response.data.dmDefaultSource,
                                        dmColor: resp.body.data[0].response.data.dmColor,
                                        dmDuplex: resp.body.data[0].response.data.dmDuplex
                                    },
                                    // settings: 'H4sIAAAAAAAEAO1cTYwbSRV-7ZlMMk52M7ubhIEVKxPCKkjxxPM_iRISjz0TO2vPGNuzmYhBSY_dsa14bK_dnmQCh4AQoBUcAAmtOKDliMSRwwr2kAOHCK4rgUQEnFaIE1wQJ5b3XlXb3WV7xs5oIzKpr1Xd1a-qX72qelX1qqq7YyDw4Zy4XpL3n0iM5cR9TNJTb4rruCmuRfncEaQbRHe5f35JhH2M1yfofofuPXQ_Rfc2ur_7RHgU_ZdkXCctAwbD0zzzLGHAsYePUcCPpJAn0Png18ZLfHcGjsFxMA7xzTGK8ovSu5_9659_m_zejxOv_6h86icwegZCe8YhrjBmiDSG-Dw6LmiirI_7wCmnE3AEJZBxxdnPzwc8NKxJjqc-7x8XcTv4jkOC5BT0QwGKRP6jHjna9NEFQfcLPiz0MEAk_pl_7cw3f37u5Du_ufLd91_7_C_LH__hvz9svLv2jdfvrP7-KsCCkGvQ5_wLQu6B05P1KDJ56FXFn4AwLMIU-mbwmIc52GjRzqGvCjkwoQyrUMHzDtKiUIdtiGBIhXgND408AfsLkU--ddjAkvyHv3okj9fjsO7DXOJ5CM8JsMDGw8Jn9w_DdaWqOGmIdq_Gi8ZX1k7D45Ezo6nxf19-b2U3nhehsx066tRWK2PAturr4Og9NP6fMEh9PB4ByCSz18k_Bh-MfEoiaWhoaGhofCpIoXkbX0vFxuAVD73XWEhWS_4p0xLWYXuORqB09jt4Gsq1FwLwNbRZyW614Ov7TFPj-YOufw2NFxcz6FLS74wVjx498lzdMKTrHO8eXtktnd5jZ28k4CaEIYNHCuKwBDGkLEF6t2Q0NDQ09oSh-I-DWDMFxe9eQ3Xo7nA3Zo4Ip6GhoaHxbEC2qN430tB4_kG7w932rY1n4FT7bi97T0OjX6QhDDfwWoQaPEBXg3tQgXmkZGEV1jB8FQIQRDeF9Dxel6EMdbwmwIRNvCahBDmkVPGuimFVKMAO845BSsZr8Nsk1_nNkgDMIK9ZCKEvBREMp9e7JjHNKZjA6wRcwLAJpM6C-52Xtm98TLRH93tgMCbyM-xyGhoaGhoaGhoaGhoaGhoaBw9ZEPN-97oAfWvWgDRcg0UI8JcwtEJB6xcZqIEJObB4HYLWL-5ACUMtmOAVjS3m-U10L0le9E7KVcmTONVgB5blMw3YgDhSkxjWpu0vbcrPYVfa9P3ZsT3SjiKtjrQc2JzWDsdfhQQ6ekNlXeEZBfGd2G48kxiWhybTCVsYmuPzBNLLeAAvVDrldE7K-gHzb_BXSCXYbn1RVOP7Ckq4yNcVLIstWV5hTIck30KazWVhcgo7XGoWy0B5Ay43wcXiMnWeVOMlkUMFw4gPrV5ZeNA6Fj0bwDKuYwhxn-QS73435bmb9tzNcJ4S6EaV_Bt75l_oRJnzKsrWkM-6eUUH4FWVdIq_ofBZ74tPFMuqxuV3H0uyyWuCxNXmcnNwW-G90RfvDDqTudN9YRf-9O6X38U_Idv27vypru9jPpfwTPwqrAE_O7o_fjcVfn8Ze3p-dFXl-9PQ_vip8r2DDfyx0h6pL6kbe_OjOihhrrvVjPfLQLorcKsCTp_aW5Pb7DbrcpjbSZjbR5jXchfRH4CzcB17lgx8mSmzCmUSjz_yajBxrTCvMvdN1Fd-EUNCXUOiXGKd9Ain3Elf7EFP8jvHJuYwB0Uu_yrmapPbQwDlNLnnrnC_XcWytLmHqnOPkkaKLdtynvMyB291LZ3upUD3q0xZ4OdAtit3PVIux_rQC6ce0-gz0b_TUX-Cl1vnYn3p3ArmYwtLhELWkC6-CYgpvKJ96q-FvJxxCh4a8AMlv1SOZ_fks8o-of9i3KBabPToX1I8FmZ57yPOLYP2FlaQfwb1JYzhSxyvqOQpP0CfkebxjHrkZkuebtKs-0S_rI6dL--ZToL1sMAjW4FbnNhNWed6BVkHbvmv9iV_ujUanZJlcFiR7Y2-eazhXUmO1kLKBvoovui5mq1xb12RNduXrLtzPTWgjudd92_zuSFrjr6dFs-6y4LK1yd5Zbheq9xP1JmXxVYScay1NACk_J18zvXk05bJsZMABttbe6ikd1W6bumV5Vfkbon3uxOo9mGU9ud6pO-0Dndee-0Nirbce9zs5O21QyidLFKcdGAPfenNb4lLROWV6lLP_j15eWu6veu5uz3Xm99bbPHWPPZyHvWFaqnRknVdkTXRl6wZ7B9Mnm-468sts6rrVJ5v9sHXCRF2otvav4FpijlKZ6zd-7zu6VX5bMs9a8dudstM8703evBoYs4jrtxv4JHBXAa7_KNBtKVOnRjrwVu07M627-XfKW9iV55F2cIyXbmrvAdpD9uePtNtJ4hnVDnJMjzbg1cTz2RZFtliqcFFOI-HV7rzrpK9pMi5sIucd3jGVWhp_6_AOye-je46iD42xdrd4N41zVxsfobCxBhvs_7kZLtak7V2DXNQkvbGFPZZOTxbmPICphzE3muGe-ognyk0iCU1xf1okPs4shdnMfY022_T2PdtMq_vu2Q9K_V7mdtHBV2Ue26T5RNW6T3ZPuOsacBSx7FusthnraC0SayVIobf49Khsg7KtYm7kgO9GXKLS2wSnQVzso175SDuI13kcGbfd5inzfXqjLcx-YXPhwovqrtvd-G1ijIncZyhsSjRoRsFrJsJ1DhnDGrwqoqNtByvJ5zHu3uyr7iLd1eQh_BT2VzGMp7HnqnGeb7M84x5rIkFpDWw7GtI8644CO3Ju_TuktSdYVBXJ9yWRjs_cWkduUNVu2NoxDt-X5JtcKHPNMTajcVtSdgM7nWoTvthjUvcsR4CXNtUS6Ou9BMD5HGZ69uSlj6wjX9bKbONAfipcQQ9g7QH3H-F0CD7js8rb1bSn54_1UPI95C_obgNDvJsvXtB_64hu3OoRTG6-DQOOtxzR9JBZ-7YX5ux2C_6SrLfdrDnqnLP1NZ0HG9R-z5SdH1D0vebDiGcy1mNRrW-s9q0a017sVRpwEq1YoE_3LSrkWrlTqnQrJt2qYqjfdWOVxq2WS5befBn6-bOdBfajEKLNmtl6_5apWQrAUmz0jTLIhiy9SammbS2UBS4MJdcBH-qXqrYVj1m1vPRUuOu8vT16mbasq1KF8mi1nYpZ8UbyWqtZNWVwEzOLFvL9epWwqwXrJRZwxiu4HDORqEizYZd3UqblYIFU5NzoVDo1vQsXcAfqW5tlipW0sqXzOxOzWqEK_l4xSk6F6dYSt6Ym2UrFlmF2VAoY5uY23rwq7NzFyaVKFR2y5ZpN-vWirllgSjfzjjtwGBkfnI6FO4SJ1N6IOPcwlSD5BKrN5bStyLhTGYpm12iZ5arlVbB1CGbXmMqZyyVTIjMT84GJy8wuaUfmJWkWZNKogTgc-6wVlCLXygY4ibjmdMNPt6Q_tLehPjsl_rjdYVfdgB-NGY6a_0RXgsUa6w0HoPS9m6je98YhC-tQN1ke2yZ16SW0G6MIi2LbpC9EH4VvN8NERgxBtsVAZ-hbo3AkKHuj8CwoW6SwCGjY6dk5OCMgtTXuvWK9GwQvWqv0ro1S6xbXT3m1S3qkZ8cHYT3ElLivMLZXbuAV-cavO6dQy53eAWVe_6TrMRk8pfEEtAJqdWWZ52C475meBeWiyAWnBGvtmpfpCNmIhVMjefaPmgzbTK56DB9hZmaPHssC0t7zKCF8iovtCCOG8DzL-KVY-Vm8ssGeDfCXmJOJZwdFNm-nUO7PoiWPa24F3AWsCV0l_51GWPJt6WOhzBqkJfwp71Rj3ISYm7U4AZGc6UAfIUjz3gj-zHyNZamgQdxpqSDzF8RYVQRoeB6DHGEC5PUhLIS4OKsOVOpw0bnXgaIthYgzyHHM-x4hhyPz_EYB6dhamhoaGhoaGi8gKA5rntuQnPqfucmi7xzUZK7pGIvnYxDehfSvQ5NaZztk2ec5wC2nMFGW3xDaAqfRzeNZ9oJmUIb-iKep_BMJvJFfiNof-tpEZ5Db3I8mie433Ky5QpYQ-axrKRTHCAdbx7be-gi_ZrcYWnvD__HEOvE7vdV_2bo__gf9P_4F087pdV2qdP6__4O9P_9NQapD_1_fw0NDQ2N5xn6__4aLwp0_WtovLjQ__fX0NB40WAofv1_fw0NDY3nD_r__hoaBwP6__4aBw3_A6WK7lZ4hQAA'
                                    // settings: 'test';
                                    settings: dump.body.data.settings
                                }
                            ]
                        }
                        params.index = params.index + 1;
                        updateProgress();
                        getQueueData(params, callback);
                    });
                }
            });
        } else {
            // console.log(params);
            callback(false, true);
        }
    }

    var updateSettings = function() {
        if(settingstype=='copyqueue') {
            let properties = getInputElements();
            let servers = getSelectedOptions(properties.destination);
            var rows_selected = table.column(0).checkboxes.selected();
            // console.log(properties);
            if(servers.length < 1) {
                alert('Please select at least one destination server!');
                return;
            }
            if(properties.newname.value.trim() != '') {
                if(rows_selected.length != 1) {
                    alert('Only one queue may be selected when renaming!');
                    return;
                }
                // alert('Renaming to ' + properties.newname.value.trim());
            } else {
                // alert('No new name specified, queues will be copied with their existing names');
            }
            let c = confirm('Are you sure you want to copy the selected queues to the selected servers?');
            if(c===true) {
                 $('#settingsModal').modal('hide');
                let ports = [];
                let request = {
                    servers: servers,
                    objects: []
                }
                $.each(rows_selected, function(index, rowId){
                    let queue = table.row('#' + rowId).data();
                    //console.log(queue);
                    //console.log(Object.keys(queue));
                    let object = {
                        source: queue.Servers[0]
                    }
                    let copyproperties = [
                        'Name',
                        //'PortName',
                        'Comment',
                        'Location',
                        'Shared',
                        'ShareName',
                        'DriverName',
                        'Published'
                    ]
                    for(let i = 0; i <= copyproperties.length - 1; i++) {
                        //console.log(typeof(queue[copyproperties[i]]))
                        //add port using IP instead of name
                        object['portname'] = queue['PrinterHostAddress'][0];
                        if(typeof(queue[copyproperties[i]])=='object') {
                            if(queue[copyproperties[i]].length > 0) {
                                object[copyproperties[i].toLowerCase()] = queue[copyproperties[i]][0];
                            }
                        } else {
                            object[copyproperties[i].toLowerCase()] = queue[copyproperties[i]]
                        }
                    }
                    /*let object = {
                        name: queue.Name,
                        port: queue.PortName[0],
                        comment: queue.Comment[0],
                        location: queue.Location[0],
                        shared: queue.Shared[0],
                        sharename: queue.ShareName[0],
                        driver: queue.DriverName[0],
                        source: queue.Servers[0]
                    }*/
                    ports.push(queue['PrinterHostAddress'][0]);
                    request.objects.push(object)
                });
                //console.log(request);
                //return;
                initLog('Generating list of ports missing on destination servers...', 1, true);
                getMissingPorts({servers: servers, ports: ports}, function(err, portrequests) {
                    updateProgress();
                    //console.log(portrequests.length);
                    if(portrequests.length >= 1) {
                        let total = 0;
                        for(let i = 0; i <= portrequests.length - 1; i++) {
                            total = total + (portrequests[i].servers.length * portrequests[i].objects.length)
                        }
                        initLog('Creating missing ports on destination servers...', total, false);
                    }
                    createMissingPorts({requests: portrequests}, function(err, resp) {
                        if(resp) {
                            appendActivityLog('Port creation completed');
                        } else {
                            appendActivityLog('All required ports already exist');
                        }
                        initLog('Requesting configuration from all queues...', request.objects.length, false);
                        getQueueData({request: request}, function(err, queuedata) {
                            //console.log(request);
                            let jobmanager = new jobManager({maxqueue: 4});
                            //let printerjobs = printerjob.createJobQueue(request);
                            //console.log(printerjobs);
                            initLog('Creating selected queues on destination servers...', request.servers.length * request.objects.length, false);
                            if(properties.newname.value.trim() != '') {
                                request.objects[0].name = properties.newname.value.trim();
                                if(request.objects[0].hasOwnProperty('sharename')) {
                                    request.objects[0].sharename = properties.newname.value.trim();
                                }
                            }
                            jobmanager.processJobs(request, '/api/printer/queue/create',
                            function(e) {
                                appendActivityLog(e.response.body.result + ' - ' + e.request.body.server + ' - ' + e.request.body.name + ' - ' + e.response.body.message);
                                updateProgress();
                            },
                            function(err, resp) {
                                if(err) {
                                    console.log(err);
                                } else {
                                    let closeprogress = document.getElementById('closeprogress');
                                    closeprogress.style.display = 'inline';
                                    //console.log('printers done');
                                    //console.log(resp);
                                }
                            });
                        });
                    });
                });
                //console.log(request);
            }
        } else {
            let c = confirm('Are you sure you want to modify the selected queues?');
            if(c===true) {
                $('#settingsModal').modal('hide');
                //console.log(requests);
                let table = document.getElementById('optionstable');
                let options = {};
                for(let i = 0; i <= table.rows.length - 1; i++) {
                    if(table.rows[i].className=="optionsrow") {
                        let property = getSelectedOptions(table.rows[i].getElementsByClassName('optionproperty')[0])[0];
                        //let value = table.rows[i].getElementsByClassName('optionvalue')[0].value;
                        let optionvalue = table.rows[i].getElementsByClassName('optionvalue')[0];
                        let value = optionvalue.value;
                        if(optionvalue.tagName == 'INPUT') {
                            value = optionvalue.value;
                        } else {
                            if(optionvalue.options[optionvalue.selectedIndex].value == 'TRUE') {
                                value = true;
                            } else if(optionvalue.options[optionvalue.selectedIndex].value == 'FALSE') {
                                value = false;
                            } else {
                                value = optionvalue.options[optionvalue.selectedIndex].value;
                            }
                        }
                        if(options.hasOwnProperty(property)) {
                            alert('The same property should not be selected twice!');
                            return;
                        } else {
                            options[property] = value;
                        }
                    }
                }
                let apipath;
                if(settingstype=='queuesettings') {
                    apipath = '/api/printer/queue/set';
                } else if('printsettings') {
                    apipath = '/api/printer/queue/setconfig';
                } else {
                    alert('Unrecognized settings type');
                    return;
                }
                //console.log('aqui');
                //console.log(options);
                //return;
                let requests = createRequests(options);
                if(requests[0].objects[0].options.hasOwnProperty('PortName')) {
                    if(DHCPIntegration()) {
                        var dhcp = new dhcpmgmt();
                        dhcp.search({ip: requests[0].objects[0].options.PortName}, function(err, dchpipresults) {
                            if(err) {
                                console.log('DHCP lease search failed: ' + err);
                            } else {
                                console.log(dchpipresults);
                            }
                        });
                    }
                    let servers = [];
                    let ports = [];
                    for(let i = 0; i <= requests.length - 1; i++) {
                        //console.log(requests[i]);
                        for(let j = 0; j <= requests[i].servers.length - 1; j++) {
                            if(servers.indexOf(requests[i].servers[j]) < 0) {
                                servers.push(requests[i].servers[j]);
                            }
                        }
                        for(let j = 0; j <= requests[i].objects.length - 1; j++) {
                            if(ports.indexOf(requests[i].objects[j].options.PortName) < 0) {
                                ports.push(requests[i].objects[j].options.PortName);
                            }
                        }
                    }
                    //console.log(servers);
                    //console.log(ports);
                    //return;
                    initLog('Generating list of ports missing on destination servers...', 1, true);
                    getMissingPorts({servers: servers, ports: ports}, function(err, portrequests) {
                        updateProgress();
                        //console.log(portrequests.length);
                        if(portrequests.length >= 1) {
                            let total = 0;
                            for(let i = 0; i <= portrequests.length - 1; i++) {
                                total = total + (portrequests[i].servers.length * portrequests[i].objects.length)
                            }
                            initLog('Creating missing ports on destination servers...', total, false);
                        }
                        createMissingPorts({requests: portrequests}, function(err, resp) {
                            if(resp) {
                                appendActivityLog('Port creation completed');
                            } else {
                                appendActivityLog('All required ports already exist');
                            }
                            let sum = 0;
                            for(let i = 0; i <= requests.length - 1; i++) {
                                sum = sum + requests[i].servers.length * requests[i].objects.length;
                            }
                            initLog('Updating selected queues on destination servers...', sum, false);
                            runJobs(requests, apipath, 0,
                            function(e) {
                                appendActivityLog(e.response.body.result + ' - ' + e.request.body.server + ' - ' + e.request.body.name + ' -> ' + JSON.stringify(e.request.body.options) + ' ' + e.response.body.message || '');
                                updateProgress();
                            }, function(err, resp) {
                                if(DHCPIntegration()) {
                                    //console.log(dhcp.complete());
                                    if(!dhcp.complete()) {
                                        let log = dhcp.log();
                                        //console.log(log);
                                        for(let i = 0; i < log.length; i++) {
                                            appendActivityLog(log[i]);
                                        }
                                        dhcp.monitorProgress(function(msg) {
                                            appendActivityLog(msg);
                                        }, function(err, msgs) {
                                            if(err) {
                                                appendActivityLog(err);
                                            } else {
                                                //all logs should have been displayed in real-time
                                            }
                                            let closeprogress = document.getElementById('closeprogress');
                                            closeprogress.style.display = 'inline';
                                            return;
                                        })
                                    } else {
                                        let log = dhcp.log();
                                        //console.log(log);
                                        for(let i = 0; i < log.length; i++) {
                                            appendActivityLog(log[i]);
                                        }
                                        let closeprogress = document.getElementById('closeprogress');
                                        closeprogress.style.display = 'inline';
                                        return;
                                    }
                                } else {
                                    let closeprogress = document.getElementById('closeprogress');
                                    closeprogress.style.display = 'inline';
                                }
                            });
                        });
                    });
                } else {
                    let sum = 0;
                    for(let i = 0; i <= requests.length - 1; i++) {
                        sum = sum + requests[i].servers.length * requests[i].objects.length;
                    }
                    initLog('Updating selected queues on destination servers...', sum, true);
                    runJobs(requests, apipath, 0,
                    function(e) {
                        appendActivityLog(e.response.body.result + ' - ' + e.request.body.server + ' - ' + e.request.body.name + ' -> ' + JSON.stringify(e.request.body.options) + ' ' + e.response.body.message || '');
                        updateProgress();
                    }, function(err, resp) {
                        let closeprogress = document.getElementById('closeprogress');
                        closeprogress.style.display = 'inline';
                    });
                }
            } else {
                //console.log('User cancelled');
            }
        }
    }

    /*var createPorts = function(requests, ecallback, callback) {
        if(requests[0].objects[0].options.hasOwnProperty('PortName')) {
            console.log('must add ports first');
            //get a deduped list of servers
            let servers = [];
            for(let i = 0; i <= requests.length - 1; i++) {
                for(let j = 0; j <= requests[i].servers.length - 1; j++) {
                    if(servers.indexOf(requests[i].servers[j]) < 0) {
                        servers.push(requests[i].servers[j]);
                    } else {
                        console.log('server already exists');
                    }
                }
            }
            //console.log(servers);
            let request = {
                servers: servers,
                objects: [
                    {
                        ip: requests[0].objects[0].options.PortName[0]
                    }
                ]
            }

            //console.log(request);

            initLog('Processing port creation...', request.servers.length * request.objects.length, true);
            //console.log(request.servers.length * request.objects.length);
            //let portjob = new portJob();
            //let portjobs = portjob.createJobQueue(request);
            let jobmanager = new jobManager({maxqueue: 4});
            jobmanager.processJobs(request, '/api/printer/port/create',
            //portjob.processJobs(portjobs,
            function(e) {
                ecallback(e);
                //console.log(e);
            },
            function(err, resp) {
                if(err) {
                    console.log(err);
                } else {
                    callback(false, true);
                }
            });
        } else {
            callback(false, false);
        }
    }*/

    var deleteRow = function(e) {
        let table = document.getElementById('optionstable');
        table.deleteRow(e.target.parentNode.parentNode.rowIndex);
    }

    var addOptionsRow = function(options) {
        let table = document.getElementById('optionstable');
        let row = table.insertRow(table.rows.length);
        row.className = 'optionsrow';
        let cell1 = row.insertCell(0);
        //cell1.className = 'propertycell';
        let cell2 = row.insertCell(1);
        //cell2.className = 'valuecell';
        if(table.rows.length > 2) {
            let cell3 = row.insertCell(2);
            let button = document.createElement('button');
            button.type = 'button';
            button.className = 'btn-close';
            button.addEventListener('click', function(e) {
                deleteRow(e);
            });
            cell3.appendChild(button);
        }
        let select = document.createElement('select');
        select.className = 'optionproperty';
        select.addEventListener('change', function(e) {
            updateField(e, cell2, options);
        });
        let keys = Object.keys(options);
        for(let i = 0 ; i <= keys.length - 1; i++) {
            let option = document.createElement('option');
            option.value = keys[i];
            option.text = keys[i];
            select.add(option);
        }
        cell1.appendChild(select);
        let input = document.createElement('input');
        input.type = 'text';
        input.className = 'optionvalue';
        cell2.appendChild(input);
    }

    var updateField = function(e, elem, options) {
        //console.log(e);
        //console.log(elem);
        //console.log(options);
        elem.innerHTML = '';
        //console.log(typeof options[e.target.value]);
        if(typeof options[e.target.value] == 'object') {
            let select = document.createElement('select');
            select.className = 'optionvalue';
            for(let i = 0 ; i <= options[e.target.value].length - 1; i++) {
                let option = document.createElement('option');
                option.value = options[e.target.value][i];
                option.text = options[e.target.value][i];
                select.add(option);
            }
            elem.appendChild(select);
        } else {
            let input = document.createElement('input');
            input.type = 'text';
            input.className = 'optionvalue';
            elem.appendChild(input);
        }
    }

    var initLog = function(message, totaljobs, clear) {
        let activitymodal = $('#activityModal').modal({
            backdrop: 'static',
            keyboard: false
        });
        if(clear) {
            //console.log('modal should show');
            activitymodal.find('.modal-body').html('');
            activitymodal.modal('show');
        }
        appendActivityLog(message);
        let closeprogress = document.getElementById('closeprogress');
        closeprogress.style.display = 'none';
        let total = document.getElementById('total');
        let current = document.getElementById('current');
        current.innerText = 0;
        total.innerText = totaljobs;
    }

    var setPrintSettings = function() {
        let requests = createRequests();
        if(requests.length <= 0) {
            alert('You must select one or more queues.');
            return;
        }
        if(requests.length > modifylimit) {
            alert('You may only select up to ' + modifylimit + ' queues to modify, but you currently have ' + requests.length + ' selected.' )
            return;
        }
        settingstype = 'printsettings';
        let settingsmodal = $('#settingsModal');
        //console.log(configmodal);
        settingsmodal.find('.modal-title').text('Change Print Settings');
        let options = {'dmDefaultSource': '', 'dmColor': ['1', '2'], 'dmDuplex': ['1', '2', '3'], 'dmCollate': ['0', '1', '2']};
        settingsmodal.find('.modal-body').html(createOptionsTable(options));
        addOptionsRow(options);
        settingsmodal.modal('show');
    }

    var setQueueOptions = function() {
        let requests = createRequests();
        if(requests.length <= 0) {
            alert('You must select one or more queues.');
            return;
        }
        if(requests.length > modifylimit) {
            alert('You may only select up to ' + modifylimit + ' queues to modify, but you currently have ' + requests.length + ' selected.' )
            return;
        }
        settingstype = 'queuesettings';
        let settingsmodal = $('#settingsModal');
        //console.log(configmodal);
        settingsmodal.find('.modal-title').text('Change Queue Options');
        let options = {'PortName': '', 'Location': '', 'DriverName': '', 'Comment': '', 'Shared': ['TRUE', 'FALSE'], 'ShareName': ''};
        settingsmodal.find('.modal-body').html(createOptionsTable(options));
        addOptionsRow(options);
        settingsmodal.modal('show');
    }

    var copyQueue = function() {
        let requests = createRequests();
        if(requests.length <= 0) {
            alert('You must select one or more queues.');
            return;
        }
        settingstype = 'copyqueue';
        let settingsmodal = $('#settingsModal');
        //console.log(configmodal);
        settingsmodal.find('.modal-title').text('Copy Queue');
        let destination = document.getElementById('servers').cloneNode(true);
        destination.id = 'destination';
        destination.className = 'mb-3 form-select';
        settingsmodal.find('.modal-body').html('');
        let destinationlabel = document.createElement('label');
        destinationlabel.htmlFor = 'destination';
        destinationlabel.innerText = 'Destination server(s)';
        settingsmodal.find('.modal-body').append(destinationlabel);
        settingsmodal.find('.modal-body').append(destination);

        let newname = document.createElement('input');
        newname.type = 'text';
        newname.id = 'newname';
        newname.placeholder = 'optional';
        newname.className = 'form-control mb-3';
        let namelabel = document.createElement('label');
        namelabel.htmlFor = 'newname';
        namelabel.innerText = 'New Queue Name (Only one queue must be selected)';
        settingsmodal.find('.modal-body').append(namelabel);
        settingsmodal.find('.modal-body').append(newname);

        settingsmodal.modal('show');
    }

    var importPrinterSettings = function() {
        let requests = createRequests();
        if(requests.length < 1 ) {
            alert('You must select at least one queue.');
            return;
        }
        if(!exportedsettings.exported) {
            alert('You must export a queue\'s settings before importing.');
            return;
        }
        let c = confirm('Are you sure you want to import the cached settings exported from "' + exportedsettings.queue + '" on "' + exportedsettings.server + '" to the selected queue(s)?');
        if(c===true) {
            let requests = createRequests({
                settings: exportedsettings.settings
            });
            let sum = 0;
            for(let i = 0; i <= requests.length - 1; i++) {
                sum = sum + requests[i].servers.length * requests[i].objects.length;
            }
            initLog('Submitting requests to import queue settings...', sum, true);
            //console.log(requests);
            runJobs(requests, '/api/printer/queue/ingest', 0,
            function(e) {
                appendActivityLog(e.response.body.result + ' - ' + e.request.body.server + ' - ' + e.request.body.name + ' - ' + e.response.body.message);
                updateProgress();
            }, function(err, resp) {
                //console.log('done');
                let closeprogress = document.getElementById('closeprogress');
                closeprogress.style.display = 'inline';
            });
        }
    }

    var exportPrinterSettings = function(prompt, serverselected) {
        let requests = createRequests();
        if(requests.length < 1 || requests.length > 1) {
            alert('You must select one queue.');
            return;
        }
        let c = false;
        if(prompt) {
            c = confirm('Are you sure you want to export the settings for the selected queue?');
        } else {
            c = true;
        }
        if(c===true) {
            let sum = 0;
            for(let i = 0; i <= requests.length - 1; i++) {
                sum = sum + requests[i].servers.length * requests[i].objects.length;
            }
            if(requests[0].servers.length > 1) {
                if(serverselected) {
                    let singleservermodal = $('#singleServerModal');
                    singleservermodal.modal('hide');
                    let singleserver = document.getElementById('singleserver');
                    requests[0].servers = [singleserver.options[singleserver.selectedIndex].value];
                } else {
                    let select = document.createElement('select');
                    select.className = 'form-select';
                    select.id = 'singleserver';
                    for(let i = 0 ; i < requests[0].servers.length; i++) {
                        let option = document.createElement('option');
                        option.value = requests[0].servers[i];
                        option.text = requests[0].servers[i];
                        select.add(option);
                    }
                    let message = document.createElement('p');
                    message.innerText = 'This queue exists on more than one server. Please select the server you\'d like to export the settings from:';
                    let bodycontainer = document.createElement('div');
                    bodycontainer.appendChild(message);
                    bodycontainer.appendChild(select);
                    let singleservermodal = $('#singleServerModal');
                    //console.log(configmodal);
                    // singleservermodal.find('.modal-title').html('Print Settings');
                    singleservermodal.find('.modal-body').html(bodycontainer);
                    singleservermodal.modal('show');
                    return;
                }
            }
            sum = 1; //export is always one job
            initLog('Submitting request to export settings...', sum, true);
            let settings;
            let queue;
            let server;
            runJobs(requests, '/api/printer/queue/dump', 0,
            function(e) {
                // console.log(e);
                let cachedicon = document.getElementById('cachedexport');
                cachedicon.className = "me-2 d-inline";
                cachedicon.title = 'Cached export from ' + e.request.body.name + ' on ' + e.request.body.server;
                exportedsettings.queue = e.request.body.name;
                exportedsettings.settings = e.response.body.data.settings;
                exportedsettings.exported = true;
                exportedsettings.server = e.request.body.server;
                appendActivityLog(e.response.body.result + ' - ' + e.request.body.server + ' - ' + e.request.body.name + ' - ' + e.response.body.message + ' <a href="#" onclick="downloadExportedSettings(\''+exportedsettings.server.trim()+'\', \''+exportedsettings.queue.trim()+'\'); return false;">Download</a>');
                updateProgress();
            }, function(err, resp) {
                //console.log('done');
                let closeprogress = document.getElementById('closeprogress');
                closeprogress.style.display = 'inline';
                // console.log(downloadlink);
            });
        }
    }

    var downloadExportedSettings = function(server, queue) {
        let options = {
            path: '/api/printer/uploadsettings',
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            }
        }

        let body = {
            settings: exportedsettings.settings,
            name: server + ' - ' + queue + '.dat'
        }

        httpRequest({options: options, body: body}, function(err, resp) {
            if(err) {
                if(err=='401') {
                    alert('You are no longer logged in!');
                } else {
                    console.log(err);
                }
            } else {
                location.href = '/api/printer/downloadsettings?file=' + server + ' - ' + queue + '.dat&name=' + queue + '.dat';
            }
        });
    }

    var clearQueue = function() {
        let requests = createRequests();
        if(requests.length <= 0) {
            alert('You must select one or more queues.');
            return;
        }
        let c = confirm('Are you sure you want to clear all print jobs from the selected queues?');
        if(c===true) {
            let requests = createRequests();
            let sum = 0;
            for(let i = 0; i <= requests.length - 1; i++) {
                sum = sum + requests[i].servers.length * requests[i].objects.length;
            }
            initLog('Submitting requests to clear print jobs...', sum, true);
            //console.log(requests);
            runJobs(requests, '/api/printer/queue/flush', 0,
            function(e) {
                appendActivityLog(e.response.body.result + ' - ' + e.request.body.server + ' - ' + e.request.body.name + ' - ' + e.response.body.message);
                updateProgress();
            }, function(err, resp) {
                //console.log('done');
                let closeprogress = document.getElementById('closeprogress');
                closeprogress.style.display = 'inline';
            });
        }
    }

    var printTestPage = function() {
        let requests = createRequests();
        if(requests.length <= 0) {
            alert('You must select one or more queues.');
            return;
        }
        let c = confirm('Are you sure you want to send test pages to the selected queues?');
        if(c===true) {
            let requests = createRequests();
            let sum = 0;
            for(let i = 0; i <= requests.length - 1; i++) {
                sum = sum + requests[i].servers.length * requests[i].objects.length;
            }
            initLog('Submitting test pages...', sum, true);
            //console.log(requests);
            runJobs(requests, '/api/printer/queue/testpage', 0,
            function(e) {
                appendActivityLog(e.response.body.result + ' - ' + e.request.body.server + ' - ' + e.request.body.name + ' - ' + e.response.body.message);
                updateProgress();
            }, function(err, resp) {
                //console.log('done');
                let closeprogress = document.getElementById('closeprogress');
                closeprogress.style.display = 'inline';
            });
        }
    }

    var createRequests = function(options) {
        let requests = [];
        try {
            var rows_selected = table.column(0).checkboxes.selected();
            //console.log(rows_selected);
            $.each(rows_selected, function(index, rowId){
                let queue = table.row('#' + rowId).data();
                //console.log(table.cell($(this).attr('value'), 'Servers:name').data());
                //console.log(queue);
                let request = {
                    servers: queue.Servers,
                    objects: [
                        {
                            name: queue.Name,
                            rowId: rowId
                        }
                    ]
                }

                if(options) {
                    request.objects[0]['options'] = options;
                }

                requests.push(request);
            });

            return requests;
        } catch(e) {
            alert('You must first search for print queues');
        }
    }

    var getPrintSettings = function() {
        let requests = createRequests();
        //console.log('function called');
        //console.log(requests);
        if(requests.length != 1) {
            alert('1 queue should be selected with this option.');
        } else {
            let options = {
                path: '/api/printer/queue/getconfigs',
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                }
            }

            let body = {
                servers: requests[0].servers,
                name: requests[0].objects[0].name
            }

            let responses = [];

            httpRequest({options: options, body: body}, function(err, resp) {
                if(err) {
                    if(err=='401') {
                        alert('You are no longer logged in!');
                    } else {
                        console.log(err);
                    }
                        callback(err, resp);
                } else {
                    //console.log('out');
                    //console.log(resp.body.data);
                    for(let i = 0; i <= resp.body.data.length - 1; i++) {
                        let response = {
                            server: resp.body.data[i].request.host,
                            queue: requests[0].objects[0].name,
                            config: resp.body.data[i].response.data
                        }
                        responses.push(response);
                    }
                    //console.log(JSON.stringify(responses, null, 2));
                    let configmodal = $('#configModal');
                    //console.log(configmodal);
                    configmodal.find('.modal-title').html('Print Settings');
                    configmodal.find('.modal-body').html('<pre>' + JSON.stringify(responses, null, 2) + '</pre>');
                    configmodal.modal('show');
                    //modal.show();
                }
            });
        }
    }

    var deleteQueues = function() {
        let requests = createRequests();
        if(requests.length <= 0) {
            alert('You must select one or more queues.');
            return;
        }
        if(requests.length > deletelimit) {
            alert('You may only select up to ' + deletelimit + ' queues for deletion, but you currently have ' + requests.length + ' selected.' )
            return;
        }
        let c = confirm('Are you sure you want to delete the following queues?\r\n' + JSON.stringify(requests, null, 2));
        if(c===true) {
            let sum = 0;
            for(let i = 0; i <= requests.length - 1; i++) {
                sum = sum + requests[i].servers.length * requests[i].objects.length;
            }
            initLog('Processing queue deletion...', sum, true);
            //console.log(requests);
            runJobs(requests, '/api/printer/queue/delete', 0,
            function(e) {
                if(e.response.body.result == 'success') {
                    //console.log(table.row('#' + e.request.body.rowId).index());
                    if(table.cell(table.row('#' + e.request.body.rowId).index(), 'Servers:name').data().length <= 1) {
                        //console.log('requesting row delete');
                        table.row(table.row('#' + e.request.body.rowId).index()).deselect();
                        table.row(table.row('#' + e.request.body.rowId).index()).remove().draw(false);
                    } else {
                        //console.log(table.cell(e.request.body.row, 'Servers:name').data());
                        let index = table.cell(table.row('#' + e.request.body.rowId).index(), 'Servers:name').data().indexOf(e.request.body.server)
                        let removed = table.cell(table.row('#' + e.request.body.rowId).index(), 'Servers:name').data().splice(index, 1);
                        //console.log(table.cell(table.row('#' + e.request.body.rowId).index(), 'Servers:name').data())
                        //console.log(removed)
                        //table.cell(table.row('#' + e.request.body.rowId).index(), 'Servers:name').render();
                        table.cell(table.row('#' + e.request.body.rowId).index(), 'Servers:name').invalidate().draw(false);
                    }
                    //console.log(e);

                } else {
                    //console.log('deletion failed');
                    //console.log(e);
                }
                appendActivityLog(e.response.body.result + ' - ' + e.request.body.server + ' - ' + e.request.body.name + ' - ' + e.response.body.message);
                updateProgress();
            }, function(err, resp) {
                //console.log('done');
                let closeprogress = document.getElementById('closeprogress');
                closeprogress.style.display = 'inline';
            });
        } else {
            //console.log('request is cancelled');
        }
    }

    function appendActivityLog(line) {
        let activitymodal = $('#activityModal');
        let p = document.createElement('p');
        p.className = 'log';
        p.innerHTML = line;
        //console.log(activitymodal.scrollHeight);
        //console.log(activitymodal.offsetHeight);
        var iScrollHeight = activitymodal.prop("scrollHeight") - (activitymodal.height() - 20);
        //console.log(iScrollHeight);
        //console.log(activitymodal.scrollTop());
        activitymodal.animate({ scrollTop: iScrollHeight }, "slow");
        activitymodal.find('.modal-body').append(p);
    }

    var runJobs = function(requests, apipath, index, ecallback, callback) {
        if(!index) {
            index = 0;
        }
        //console.log(index);
        //console.log(requests.length);
        if(index <= requests.length - 1) {
            //console.log('run');
            let jobmanager = new jobManager({maxqueue: 4});
            jobmanager.processJobs(requests[index], apipath,
            //portjob.processJobs(portjobs,
            function(e) {
                ecallback(e);
            },
            function(err, resp) {
                runJobs(requests, apipath, index + 1, ecallback, callback);
            });
        } else {
            callback(false, false);
        }
    }

    function updateProgress() {
        let current = document.getElementById('current');
        current.innerText = parseInt(current.innerText) + 1;
    }

    var submitForm = function() {
        let properties = getInputElements();
        let servers = getSelectedOptions(properties.servers);

        if(servers.length <= 0) {
            alert('You must select at least one server! ');
            return ;
        }
        $('#overlay').fadeIn();
        let search = false;
        //console.log(getSelectedOptions(properties.searchprop)[0]);
        if(properties.searchvalue.value.trim() != '') {
            search = {
                comparison: 'AND',
                properties: {}
            }
            search.properties[getSelectedOptions(properties.searchprop)[0]] = properties.searchvalue.value.trim();
        }

        let updatecache = false;

        dedupe = properties.dedupequeues.checked;

        //console.log(properties.dedupequeues.checked);

        let request = {
            servers: servers,
            combine: properties.dedupequeues.checked,
            search: search,
            updatecache: properties.updatecache.checked,
            includeleases: showLeases()
        }

        //console.log(request);

        listPrinters(request, function(err, printers) {
            //console.log('calling printers');
            if(err) {
                if(err=='401') {
                    let ok = confirm('You are no longer logged in. Click OK to be redirected to the login screen.')
                    if(ok) {
                        window.location = '/login'
                    }
                } else {
                    alert(err);
                    console.log(err);
                }
                $('#overlay').fadeOut();
            } else {
                //console.log(printers);
                if(printers.body.result=="error") {
                    alert(printers.body.message);
                } else {
                    if ( $.fn.DataTable.isDataTable( '#example' ) ) {
                        //$('#example').DataTable().clear();
                        table.rows().deselect();
                        table.clear();
                        //table.destroy();
                        //table.draw(true);
                        //table.columns.adjust();
                        table.columns( 'DHCPAddressState:name' ).visible( showLeases() );
                        table.rows.add(printers.body).draw();
                        //initDatatable(printers.body);
                    } else {
                        $(document).ready(function() {
                            initDatatable(printers.body);
                        } );
                    }
                    if(properties.updatecache.checked) {
                        properties.updatecache.checked = false;
                    }
                }
                $('#overlay').fadeOut();
            }
        });
    }

    function initDatatable(data) {
        let columns = [
            /*{
                data: 'select',
                orderable: false,
                searchable: false,
                render: function(data, type, row, meta) {
                    return '<input type="checkbox" value="' + row['uid'] + '" name="queue" />';
                }
            },*/
            { 
                data: "uid",
                title: "",
                name: "uid"
            },
            { 
                data: "Name",
                title: "Name",
                name: "Name",
                className: "position-relative addclipboard",
                render: function(data, type, row, meta) {
                    return '<span title="' + row['Name'] + '">' + row['Name'] + '</span><i title="Copy to Clipboard" onclick="copyToClipboard(this)" class="fa fa-clipboard"></i>';
                }
            },
            { 
                data: "PortName",
                title: "PortName",
                name: "PortName",
                className: "position-relative addclipboard",
                render: function(data, type, row, meta) {
                    if(row['PortName']) {
                        if(row['PrinterHostAddress'].join(',') != row['PortName'].join(',')) {
                            return '<span title="' + row['PortName'].join(',') + '" style="color: #CCCC00;">' + row['PortName'].join(',') + '</span><i title="Copy to Clipboard" onclick="copyToClipboard(this)" class="fa fa-clipboard"></i>';
                        } else {
                            return '<span title="' + row['PortName'] + '">' + row['PortName'] + '</span><i title="Copy to Clipboard" onclick="copyToClipboard(this)" class="fa fa-clipboard"></i>';
                        }
                    } else {
                        //console.log(row);
                        return '<span title="' + row['PortName'] + '">' + row['PortName'] + '</span><i title="Copy to Clipboard" onclick="copyToClipboard(this)" class="fa fa-clipboard"></i>';
                    }
                    //console.log(row);
                    //return row['PortName'];
                }
            },
            { 
                data: "PrinterHostAddress",
                title: "PortAddress",
                name: "PortAddress",
                className: "position-relative addclipboard",
                render: function(data, type, row, meta) {
                    let ports = [];
                    for(let i = 0; i <= row['PrinterHostAddress'].length - 1; i++) {
                        ports.push('<a target="_blank" href="http://' + row['PrinterHostAddress'][i] + '">' + row['PrinterHostAddress'][i] + '</a>');
                    }
                    if(ports.length <= 0) {
                        return '';
                    } else {
                        return '<span>' + ports.join(',') + '</span><i title="Copy to Clipboard" onclick="copyToClipboard(this)" class="fa fa-clipboard"></i>';
                    }
                }
            },
            { 
                data: "DriverName",
                title: "Driver",
                name: "Driver",
                className: "position-relative addclipboard",
                render: function(data, type, row, meta) {
                    return '<span title="' + row['DriverName'].join(',') + '">' + row['DriverName'].join(',') + '</span><i title="Copy to Clipboard" onclick="copyToClipboard(this)" class="fa fa-clipboard"></i>';
                }
            },
            { 
                data: "Location",
                title: "Location",
                name: "Location",
                className: "position-relative addclipboard",
                render: function(data, type, row, meta) {
                    let location = row['Location'].join(',')
                    if(location == '') {
                        return '';
                    } else {
                        return '<span title="' + location + '">' + location + '</span><i title="Copy to Clipboard" onclick="copyToClipboard(this)" class="fa fa-clipboard"></i>';
                    }
                }
            },
            { 
                data: "Comment",
                title: "Comment",
                name: "Comment",
                className: "position-relative addclipboard",
                render: function(data, type, row, meta) {
                    let comment = row['Comment'].join(',')
                    if(comment == '') {
                        return '';
                    } else {
                        return '<span title="' + comment + '">' + comment + '</span><i title="Copy to Clipboard" onclick="copyToClipboard(this)" class="fa fa-clipboard"></i>';
                    }
                }
            },
            { 
                data: "Shared",
                title: "Shared",
                name: "Shared"
            },
            { 
                data: "ShareName",
                title: "ShareName",
                name: "ShareName",
                className: "position-relative addclipboard",
                render: function(data, type, row, meta) {
                    let sharename = row['ShareName'].join(',')
                    if(sharename == '') {
                        return '';
                    } else {
                        return '<span title="' + sharename + '">' + sharename + '</span><i title="Copy to Clipboard" onclick="copyToClipboard(this)" class="fa fa-clipboard"></i>';
                    }
                }
            },
            { 
                data: "PrinterStatus",
                title: "Status",
                name: "Status",
                /*render: function(data, type, row, meta) {
                    switch (row['PrinterStatus']) {
                        case 0:
                            return 'Ready';
                            break;
                        case 1:
                            return 'Paused';
                            break;
                        case 2:
                            return 'Error';
                            break;
                        case 3:
                            return 'Paused - Error';
                            break;
                        case 4:
                            return 'Deleting';
                            break;
                        case 128:
                            return 'Deleting';
                            break;
                        case 130:
                            return 'Error - Offline';
                            break;
                        case 131072:
                            return 'Toner/Ink Low';
                            break;
                        default:
                            return row['PrinterStatus'];
                    }
                    return row['PrinterStatus'].join(', ');
                }*/
            },
            { 
                data: "JobCount",
                title: "JobCount",
                name: "JobCount"
            },
            { 
                data: "Servers",
                title: "Servers",
                name: "Servers",
                className: "position-relative addclipboard",
                render: function(data, type, row, meta) {
                    //console.log(row);
                    if(dedupe) {
                        return '<span index="" title="' + row['Servers'].join('\r\n') + '">' + row['Servers'].length + '</span>';
                    } else {
                        return '<span>' + row['Servers'][0] + '</span><i title="Copy to Clipboard" onclick="copyToClipboard(this)" class="fa fa-clipboard"></i>';
                    }
                }
            },
            { 
                data: "DHCPAddressState",
                title: "DHCPAddressState",
                name: "DHCPAddressState",
                visible: showLeases(),
                render: function(data, type, row, meta) {
                    let dhcp = [];
                    for(let i = 0; i <= row['PrinterHostAddress'].length - 1; i++) {
                        dhcp.push('<a title="' + row['PrinterHostAddress'][i] + '" target="_blank" href="/manage-leases?servers=' + row['DHCPServers'].join(',') + '&property=IPAddress&dedupe=false&value=%22' + row['PrinterHostAddress'][i] + '%22">' + row['DHCPAddressState'][row['PrinterHostAddress'][i]] + '</a>');
                    }
                    return dhcp.join(',');
                }
            }
        ]

        table = $('#example').DataTable( {
            pageLength: 25,
            dom: 'Bfrtipl',
            buttons: [
                {{#if user.isAdmin}}{
                    text: 'Delete',
                    action: function() {
                        deleteQueues();
                    }
                },{{/if}}
                {
                    text: 'Get Print Settings',
                    action: function() {
                        getPrintSettings();
                    }
                },
                {{#if user.isAdmin}}{
                    text: 'Set Print Settings',
                    action: function() {
                        setPrintSettings();
                    }
                },
                {
                    text: 'Set Queue Options',
                    action: function() {
                        setQueueOptions();
                    }
                },{{/if}}
                {
                    text: 'Clear Queue',
                    action: function() {
                        clearQueue();
                    }
                },
                {
                    text: 'Print Test Page',
                    action: function() {
                        printTestPage();
                    }
                },
                {{#if user.isAdmin}}{
                    text: 'Copy Queue',
                    action: function() {
                        copyQueue();
                    }
                },{{/if}}
                {
                    extend: 'csvHtml5',
                    text: 'Export CSV'
                },
                {
                    text: 'Export Settings',
                    action: function() {
                        exportPrinterSettings(true, false);
                    }
                },
                {
                    text: 'Import Settings',
                    action: function() {
                        importPrinterSettings();
                    }
                }
            ],
            data: data,
            select: {
                'style': {{#if user.isAdmin}}'os'{{else}}'single'{{/if}}
            },
            order: [[1, 'asc']],
            rowId: function(queue) {
                //console.log(queue);
                return queue.uid;
            },
            'columnDefs': [
                {
                    'targets': 0,
                    'checkboxes': {
                        'selectRow': true,
                        selectAll: {{#if user.isAdmin}}true{{else}}false{{/if}}
                    }
                }
            ],
            columns: columns
        } );
    }

    function copyToClipboard(elem) {
        let text = elem.previousSibling.textContent || elem.previousSibling.innerText;
        //console.log(text);
        if (navigator.clipboard) {
            navigator.clipboard.writeText(text).then(function() {
                //console.log('Copied to clipboard');
                console.log('Copied "' + text + '" to clipboard');
            }, function(err) {
                console.error('Could not copy text: ', err);
            });
        } else {
            // Fallback for older browsers
            let textArea = document.createElement("textarea");
            textArea.value = text;
            document.body.appendChild(textArea);
            textArea.select();
            try {
                document.execCommand("copy");
                console.log('Copied "' + text + '" to clipboard');
            } catch (err) {
                console.error('Could not copy text: ', err);
            }
            document.body.removeChild(textArea);
        }
    }
</script>
<style>
    .addclipboard:hover .fa-clipboard {
        display: inline-block !important;
    }

    .addclipboard .fa-clipboard {
        display: none;
        right: 0;
        top: 4px;
        position: absolute;
    }

</style>